

.body {

    background-color : #aae;
    padding : 20px;
}

.body2 {
    background-color : magenta;
    padding : 60px;
}

#profilePic {



}

.narrow {

}

#favorites {


    background-color : #afa;
    

}

.website {
    color : #44e;
}

#details1 {

    background-color : #e44;


}

#img1 {


}